.icon-email:before { content: '\0805'; } /* 'ࠅ' */
.icon-right:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-download:before { content: '\e804'; } /* '' */
